h1{
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
     font-weight: 800;
    } 



   h2{ font-family: Arial, Helvetica, sans-serif
    font-size 25px;
    font-weight: 600;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:500;

}

#SpiderMan{
    height: 200px;
    width: 155px;
}

#PitchPerfect{
    height: 230px;
}
#HarryPotter{
    height: 240px;

}

